/Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/ConsoleAppInternshipDB.csproj.nuget.dgspec.json
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/ConsoleAppInternshipDB.csproj.nuget.dgspec.json
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/ConsoleAppInternshipDB.csproj.nuget.dgspec.json
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/Debug/net9.0/ConsoleAppInternshipDB.assets.cache
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/Debug/net9.0/ConsoleAppInternshipDB.csproj.AssemblyReference.cache
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/Debug/net9.0/ConsoleAppInternshipDB.GeneratedMSBuildEditorConfig.editorconfig
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/project.assets.json
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/project.nuget.cache
Week3/ConsoleAppInternshipDB/ConsoleAppInternshipDB/obj/ConsoleAppInternshipDB.csproj.nuget.dgspec.json
